@import './base.css';

:root {
  --bs-primary-rgb: 0, 170, 162;
  --bs-dark-rgb:  29, 41, 47;
}

.bg-primary {
  color: rgb(97, 202, 197);
}

#iconbar-triangle {
  transform: rotate(180deg);
}

#navigation-settings-icon {
  transform: rotate(45deg);
}

.logo {
  filter: invert(100%);
}

main#dashboard ion-icon {
  font-size: 10rem;
}

main {
  height: calc(100vh - 109px - 69px);
}